[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==2.5.1"
patchelf = "*"

[dev-packages]
ipykernel = "*"
numpy = "==2.2.4"
h5py = "==3.13.0"
tqdm = "==4.67.1"
maturin = "==1.8.3"

[requires]
python_version = "3.11"
python_full_version = "3.11.11"
