data
*.png
result
**/*/.ipynb_checkpoints
.ipynb_checkpoints/*
*/*.egg-info
**/*/__pycache__
eval/*
*.e*
*.o*
*.log
**/job-logs/*
10M-old/
models-old
models/
.venv/

search/*.e*
search/*.o*
search/*.log

logs/
.idea/
.vscode/
res.csv

__pycache__/